Create database BD_MONTADORA
go
USE [BD_MONTADORA]
GO
/****** Object:  Table [dbo].[Cidades]    Script Date: 31/08/2015 13:58:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cidades](
	[cidadeId] [int] IDENTITY(1,1) NOT NULL,
	[nome] [nvarchar](50) NULL,
	[estado] [int] NULL,
 CONSTRAINT [PK_Cidades] PRIMARY KEY CLUSTERED 
(
	[cidadeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 31/08/2015 13:58:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Clientes](
	[clienteID] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](50) NULL,
	[cpf] [varchar](20) NULL,
	[endereco] [varchar](50) NULL,
	[dtNascimento] [date] NULL,
	[sexo] [int] NULL,
	[rg] [varchar](50) NULL,
	[orgaoExpedidor] [varchar](50) NULL,
	[numero] [varchar](50) NULL,
	[cidadeId] [int] NULL,
 CONSTRAINT [PK_Cliente] PRIMARY KEY CLUSTERED 
(
	[clienteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Fornecedores]    Script Date: 31/08/2015 13:58:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Fornecedores](
	[fornecedorID] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](50) NULL,
	[cpf] [varchar](50) NULL,
	[endereco] [varchar](50) NULL,
 CONSTRAINT [PK_Fornecedor] PRIMARY KEY CLUSTERED 
(
	[fornecedorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Montadores]    Script Date: 31/08/2015 13:58:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Montadores](
	[montadorID] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](50) NULL,
	[cpf] [varchar](50) NULL,
	[salario] [decimal](18, 0) NULL,
 CONSTRAINT [PK_Montador] PRIMARY KEY CLUSTERED 
(
	[montadorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Pecas]    Script Date: 31/08/2015 13:58:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Pecas](
	[pecaID] [int] IDENTITY(1,1) NOT NULL,
	[fornecedorID] [int] NULL,
	[dtFabricacao] [datetime] NULL,
	[numSerie] [varchar](50) NULL,
	[descricao] [varchar](50) NULL,
	[valor] [decimal](18, 0) NULL,
 CONSTRAINT [PK_Pecas] PRIMARY KEY CLUSTERED 
(
	[pecaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PecasVeiculo]    Script Date: 31/08/2015 13:58:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PecasVeiculo](
	[pecaVeiculoID] [int] IDENTITY(1,1) NOT NULL,
	[veiculoID] [int] NULL,
	[pecaID] [int] NULL,
	[desconto] [decimal](18, 0) NULL,
	[quantidade] [int] NULL,
 CONSTRAINT [PK_PecaVeiculo] PRIMARY KEY CLUSTERED 
(
	[pecaVeiculoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 31/08/2015 13:58:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](50) NOT NULL,
	[login] [varchar](50) NOT NULL,
	[senha] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Veiculos]    Script Date: 31/08/2015 13:58:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Veiculos](
	[veiculoID] [int] IDENTITY(1,1) NOT NULL,
	[clienteID] [int] NULL,
	[montadorID] [int] NULL,
	[categoria] [varchar](50) NULL,
	[marca] [varchar](50) NULL,
	[modelo] [varchar](50) NULL,
	[usuarioID] [int] NULL,
 CONSTRAINT [PK_Veiculo] PRIMARY KEY CLUSTERED 
(
	[veiculoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Cidades] ON 

INSERT [dbo].[Cidades] ([cidadeId], [nome], [estado]) VALUES (1, N'ABADIA', 5)
INSERT [dbo].[Cidades] ([cidadeId], [nome], [estado]) VALUES (2, N'ABADIA DE GOIAS', 10)
INSERT [dbo].[Cidades] ([cidadeId], [nome], [estado]) VALUES (3, N'ABADIA DOS DOURADOS', 13)
GO
SET IDENTITY_INSERT [dbo].[Cidades] OFF
SET IDENTITY_INSERT [dbo].[Clientes] ON 

INSERT [dbo].[Clientes] ([clienteID], [nome], [cpf], [endereco], [dtNascimento], [sexo], [rg], [orgaoExpedidor], [numero], [cidadeId]) VALUES (1, N'JOÃO DA SILVA', N'111.111.111-11', N'RUA TAL coisa', CAST(0x66330B00 AS Date), 1, N'111', N'SSP-RO', N'22', 6640)
INSERT [dbo].[Clientes] ([clienteID], [nome], [cpf], [endereco], [dtNascimento], [sexo], [rg], [orgaoExpedidor], [numero], [cidadeId]) VALUES (3, N'MARIA CORREIA', N'222.222.222-22', N'RUA JATUARANA, 123', CAST(0x66330B00 AS Date), 2, N'2222', N'SSP-RO', N'22', 6640)
INSERT [dbo].[Clientes] ([clienteID], [nome], [cpf], [endereco], [dtNascimento], [sexo], [rg], [orgaoExpedidor], [numero], [cidadeId]) VALUES (4, N'Mariana Silveira', N'123.654.789-01', N'Outra Rua', CAST(0x66330B00 AS Date), 1, N'333', N'SSP-RO', N'22', 6640)
SET IDENTITY_INSERT [dbo].[Clientes] OFF
SET IDENTITY_INSERT [dbo].[Fornecedores] ON 

INSERT [dbo].[Fornecedores] ([fornecedorID], [nome], [cpf], [endereco]) VALUES (1, N'MUAMBAS SA', N'11.111.111/1111-22', N'RUA TAL DAS MUAMBAS')
INSERT [dbo].[Fornecedores] ([fornecedorID], [nome], [cpf], [endereco]) VALUES (2, N'PIRELLE', N'22.222.222/2222-22', N'RUA JORGE TEIXEIRA')
INSERT [dbo].[Fornecedores] ([fornecedorID], [nome], [cpf], [endereco]) VALUES (7, N'GOODYEAR', N'33.333.333/3333-33', N'RUA CALAMA 123.')
SET IDENTITY_INSERT [dbo].[Fornecedores] OFF
SET IDENTITY_INSERT [dbo].[Montadores] ON 

INSERT [dbo].[Montadores] ([montadorID], [nome], [cpf], [salario]) VALUES (1, N'PEDRO', N'111222', CAST(12000 AS Decimal(18, 0)))
INSERT [dbo].[Montadores] ([montadorID], [nome], [cpf], [salario]) VALUES (2, N'João Parada Errada', N'242.424.242-42', CAST(5000 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[Montadores] OFF
SET IDENTITY_INSERT [dbo].[Pecas] ON 

INSERT [dbo].[Pecas] ([pecaID], [fornecedorID], [dtFabricacao], [numSerie], [descricao], [valor]) VALUES (1, 1, CAST(0x0000A46400000000 AS DateTime), N'12345678', N'CAMARA DE AR', NULL)
INSERT [dbo].[Pecas] ([pecaID], [fornecedorID], [dtFabricacao], [numSerie], [descricao], [valor]) VALUES (2, 1, CAST(0x00009C6A00000000 AS DateTime), N'22334455', N'PREGO', NULL)
INSERT [dbo].[Pecas] ([pecaID], [fornecedorID], [dtFabricacao], [numSerie], [descricao], [valor]) VALUES (3, 1, CAST(0x00009BB900000000 AS DateTime), N'11111111', N'ARRUELA', NULL)
SET IDENTITY_INSERT [dbo].[Pecas] OFF
SET IDENTITY_INSERT [dbo].[PecasVeiculo] ON 

INSERT [dbo].[PecasVeiculo] ([pecaVeiculoID], [veiculoID], [pecaID], [desconto], [quantidade]) VALUES (1, 1, 1, CAST(0 AS Decimal(18, 0)), NULL)
INSERT [dbo].[PecasVeiculo] ([pecaVeiculoID], [veiculoID], [pecaID], [desconto], [quantidade]) VALUES (2, 1, 3, CAST(0 AS Decimal(18, 0)), NULL)
INSERT [dbo].[PecasVeiculo] ([pecaVeiculoID], [veiculoID], [pecaID], [desconto], [quantidade]) VALUES (3, 1, 5, CAST(0 AS Decimal(18, 0)), NULL)
SET IDENTITY_INSERT [dbo].[PecasVeiculo] OFF
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([Id], [nome], [login], [senha]) VALUES (2, N'JUNIOR', N'1', N'698D51A19D8A121CE581499D7B701668')
INSERT [dbo].[Usuarios] ([Id], [nome], [login], [senha]) VALUES (4, N'certo', N'login', N'e10adc3949ba59abbe56e057f20f883e')
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
SET IDENTITY_INSERT [dbo].[Veiculos] ON 

INSERT [dbo].[Veiculos] ([veiculoID], [clienteID], [montadorID], [categoria], [marca], [modelo], [usuarioID]) VALUES (1, 1, 1, N'carga', N'honda', N'modelo xxx', NULL)
INSERT [dbo].[Veiculos] ([veiculoID], [clienteID], [montadorID], [categoria], [marca], [modelo], [usuarioID]) VALUES (2, 6, 1, N'SEDAN', N'Hyunday', N'HB20S', NULL)
INSERT [dbo].[Veiculos] ([veiculoID], [clienteID], [montadorID], [categoria], [marca], [modelo], [usuarioID]) VALUES (3, 1, 1, N'SEDAN', N'honda', N'civic', NULL)
SET IDENTITY_INSERT [dbo].[Veiculos] OFF
ALTER TABLE [dbo].[Clientes]  WITH CHECK ADD  CONSTRAINT [FK_Clientes_Cidades] FOREIGN KEY([cidadeId])
REFERENCES [dbo].[Cidades] ([cidadeId])
GO
ALTER TABLE [dbo].[Clientes] CHECK CONSTRAINT [FK_Clientes_Cidades]
GO
ALTER TABLE [dbo].[Pecas]  WITH CHECK ADD  CONSTRAINT [FK_Pecas_Fornecedor] FOREIGN KEY([fornecedorID])
REFERENCES [dbo].[Fornecedores] ([fornecedorID])
GO
ALTER TABLE [dbo].[Pecas] CHECK CONSTRAINT [FK_Pecas_Fornecedor]
GO
ALTER TABLE [dbo].[PecasVeiculo]  WITH CHECK ADD  CONSTRAINT [FK_PecaVeiculo_Pecas] FOREIGN KEY([pecaID])
REFERENCES [dbo].[Pecas] ([pecaID])
GO
ALTER TABLE [dbo].[PecasVeiculo] CHECK CONSTRAINT [FK_PecaVeiculo_Pecas]
GO
ALTER TABLE [dbo].[PecasVeiculo]  WITH CHECK ADD  CONSTRAINT [FK_PecaVeiculo_Veiculo] FOREIGN KEY([veiculoID])
REFERENCES [dbo].[Veiculos] ([veiculoID])
GO
ALTER TABLE [dbo].[PecasVeiculo] CHECK CONSTRAINT [FK_PecaVeiculo_Veiculo]
GO
ALTER TABLE [dbo].[Veiculos]  WITH CHECK ADD  CONSTRAINT [FK_Veiculo_Cliente] FOREIGN KEY([clienteID])
REFERENCES [dbo].[Clientes] ([clienteID])
GO
ALTER TABLE [dbo].[Veiculos] CHECK CONSTRAINT [FK_Veiculo_Cliente]
GO
ALTER TABLE [dbo].[Veiculos]  WITH CHECK ADD  CONSTRAINT [FK_Veiculo_Montador] FOREIGN KEY([montadorID])
REFERENCES [dbo].[Montadores] ([montadorID])
GO
ALTER TABLE [dbo].[Veiculos] CHECK CONSTRAINT [FK_Veiculo_Montador]
GO
ALTER TABLE [dbo].[Veiculos]  WITH CHECK ADD  CONSTRAINT [FK_Veiculos_Usuarios] FOREIGN KEY([usuarioID])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[Veiculos] CHECK CONSTRAINT [FK_Veiculos_Usuarios]
GO
